body {
  margin: 0;
  font-family: "Poppins", "Inter", "Segoe UI", "Trebuchet MS", sans-serif;
  color: #0f172a;
  background: #f8fafc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
